@use "../global"as *;

/*!
foundation > base
------------------------------
*/
:root{
    --base: #333333;
    --black: #000;
    --white: #fff;
}

body {
    line-height: 2;
    font-size: rem(14);
    font-weight: 500;
    color: var(--base);
    font-family: $font-family-base;
    letter-spacing: 0;
    @include mq(md) {
        font-size: rem(16);
    }
}

body.overflow_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.body-wrapper {
    position: relative;
    display: block;
    overflow: clip;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        opacity: 1;
        @include mq(md) {
            opacity: 0.8;
        }
    }
    
}

.pc {
    display: none !important;

    @include mq(md) {
        display: block !important;
    }
}


.sp {
    display: block !important;

    @include mq(md) {
        display: none !important;
    }
}
