/*!
global > font
------------------------------
*/

$font-family-base: "Zen Old Mincho", serif;
$font-family-infant: "Cormorant Infant", serif;
$font-family-serif: "Noto Serif JP", serif;
$font-family-sans: "Noto Sans JP", sans-serif;