.u_mt_0 {
  margin-top: 0px !important;
}

.u_mb_0 {
  margin-bottom: 0px !important;
}
.u_mb_10 {
  margin-bottom: 10px !important;
}

.u_ml_0 {
  margin-left: 0px !important;
}

.u_mr_0 {
  margin-right: 0px !important;
}



@media screen and (min-width: 768px){
  .u_mt_md_0 {
    margin-top: 0px !important;
  }
  .u_mb_md_0 {
    margin-bottom: 0px !important;
  }
  .u_ml_md_0 {
    margin-left: 0px !important;
  }
  .u_mr_md_0 {
    margin-right: 0px !important;
  }
  
}