
.u_pl_0{
  padding-left: 0 !important;
}
.u_pr_0{
  padding-right: 0 !important;
}
.u_pt_3{
  padding-top: 3px !important;
}
.u_pb_3{
  padding-bottom: 3px !important;
}
.u_pl_20{
  padding-left: 20px !important;
}

@media screen and (min-width: 769px){
  .u_pl_md_9 {
    padding-left: 9px !important;
  }
}