@use "../global" as *;

.u_txt_left {
  text-align: left !important;
}

.u_txt_right {
  text-align: right !important;
}

.u_txt_center {
  text-align: center !important;
}
.u_fw900 {
  font-weight: 900 !important;
}
.u_fw800 {
  font-weight: 800 !important;
}
.u_fw700 {
  font-weight: 700 !important;
}
.u_fw600 {
  font-weight: 600 !important;
}
.u_fw500 {
  font-weight: 500 !important;
}
.u_fw400 {
  font-weight: 400 !important;
}
.u_fw300 {
  font-weight: 300 !important;
}

.u_f_base{
  font-family: $font-family-base !important;
}

.u_cl_red{
  color: #E95037;
}
.u_cl_yellow{
  color: #FCD03E;
}
.u_cl_blue{
  color: #8BD1F4;
}
