/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
/*!
global > mixin
------------------------------
*/
.p_top01 {
  padding: 13.3333333333vw 5.3333333333vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p_top01 {
    padding: 6.9230769231vw 3.0769230769vw 7vw 3.0769230769vw;
  }
}
.p_top01 .c_btn02 {
  margin-bottom: 4vw;
}
@media screen and (min-width: 768px) {
  .p_top01 .c_btn02 {
    margin-bottom: 1.7692307692vw;
  }
}
.p_top01 .title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vw;
}
@media screen and (min-width: 768px) {
  .p_top01 .title {
    width: 45.8461538462vw;
    margin-bottom: 1.4615384615vw;
  }
}
.p_top01 .img {
  margin: 0 auto 4vw auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p_top01 .img {
    margin: 0 auto 1.3846153846vw auto;
    max-width: 70.3846153846vw;
    padding-right: clamp(
      0rem,
      4.6992481203vw + -2.2556390977rem,
      1.5625rem
  );
  }
}
.p_top02 {
  padding: 13.3333333333vw 5.3333333333vw;
  text-align: center;
  background-color: #FCD03E;
}
@media screen and (min-width: 768px) {
  .p_top02 {
    padding: 5.7692307692vw 3.0769230769vw 5.7692307692vw 3.0769230769vw;
  }
}
.p_top02 .c_txt23 {
  text-align: center;
  margin-bottom: 4vw;
}
@media screen and (min-width: 768px) {
  .p_top02 .c_txt23 {
    margin-bottom: 1.3076923077vw;
  }
}
.p_top02 .c_btn02 {
  margin-bottom: 4vw;
}
@media screen and (min-width: 768px) {
  .p_top02 .c_btn02 {
    margin-bottom: 1.7692307692vw;
  }
}
.p_top02 .title {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .p_top02 .title {
    width: 35.1538461538vw;
  }
}
.p_top02__inner {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p_top02__inner {
    padding: 0 7.6923076923vw 1.5384615385vw;
    margin: 0 auto;
    width: 52.1538461538vw;
  }
}
.p_top02__inner .img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10.3846153846vw;
}
.p_top03 {
  background-color: #C0E4F9;
  position: relative;
}
.p_top03__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 26.6666666667vw 5.3333333333vw;
}
@media screen and (min-width: 768px) {
  .p_top03__inner {
    padding: 28.2307692308vw 3.0769230769vw 10.6153846154vw 3.0769230769vw;
  }
}
.p_top03__btn {
  text-align: center;
  padding-top: 4vw;
}
@media screen and (min-width: 768px) {
  .p_top03__btn {
    padding-top: 1.5384615385vw;
  }
}
.p_top03 .title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.6666666667vw;
}
@media screen and (min-width: 768px) {
  .p_top03 .title {
    width: 37.5384615385vw;
    margin-bottom: 3.4615384615vw;
  }
}
.p_top03 .c_txt18 {
  text-align: center;
  line-height: 1.3333333333;
}
@media screen and (min-width: 768px) {
  .p_top03 .c_txt18 {
    margin-bottom: 0.7692307692vw;
  }
}
.p_top03 .c_btn {
  font-size: 4.2666666667vw;
  padding: 4vw 5.3333333333vw;
}
@media screen and (min-width: 768px) {
  .p_top03 .c_btn {
    padding: 1.3076923077vw 2.6923076923vw;
    font-size: 1.3846153846vw;
  }
}

.c_products {
  background-color: #FFFAE6;
  text-align: center;
  padding: 13.3333333333vw 5.3333333333vw;
  border-bottom: 1px solid #F2F2F2;
}
@media screen and (min-width: 768px) {
  .c_products {
    padding: 5.6153846154vw 3.0769230769vw 6.6923076923vw 3.0769230769vw;
  }
}
.c_products .title {
  position: relative;
  color: #8BD1F4;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 4vw;
}
@media screen and (min-width: 768px) {
  .c_products .title {
    padding: 0 7vw;
    margin-bottom: 1.6923076923vw;
  }
}
.c_products .title__img {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .c_products .title__img {
    width: 35.9230769231vw;
    margin-bottom: 0.3846153846vw;
  }
}
.c_products .title__text {
  display: block;
  font-size: 3.2vw;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.5714285714;
}
@media screen and (min-width: 768px) {
  .c_products .title__text {
    font-size: 1.0769230769vw;
  }
}
.c_products .title__people {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10.6666666667vw;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .c_products .title__people {
    top: calc(50% - 1.3846153846vw);
    width: 5.3846153846vw;
  }
}
.c_products__list {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .c_products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 84.6153846154vw;
    grid-gap: 2.7692307692vw;
  }
}
.c_products__list .icon {
  width: 16vw;
  height: 16vw;
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c_products__list .icon {
    width: 6.1538461538vw;
    height: 6.1538461538vw;
    margin-bottom: -0.1538461538vw;
  }
}
.c_products__list .icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.c_products__list .icon__main {
  z-index: 2;
  transition: 0.5s;
}
.c_products__list .icon__hover {
  z-index: 1;
}
.c_products__list .logo {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 1.0666666667vw;
}
@media screen and (min-width: 768px) {
  .c_products__list .logo {
    height: 3.8461538462vw;
    margin-bottom: 0.3076923077vw;
  }
}
.c_products__list .logo_01 {
  width: 20vw;
}
@media screen and (min-width: 768px) {
  .c_products__list .logo_01 {
    width: 7.4615384615vw;
    left: -1px;
  }
}
.c_products__list .logo_02 {
  width: 26.6666666667vw;
}
@media screen and (min-width: 768px) {
  .c_products__list .logo_02 {
    width: 11.3076923077vw;
    left: 4px;
  }
}
.c_products__list .logo_03 {
  width: 32vw;
}
@media screen and (min-width: 768px) {
  .c_products__list .logo_03 {
    width: 12.3076923077vw;
    left: 2px;
  }
}
.c_products__list__item {
  display: block;
  background-color: #FFFFFF;
  border: 2px solid #F2F2F2;
  border-radius: 10px;
  padding: 5.3333333333vw 5.3333333333vw;
}
@media screen and (min-width: 768px) {
  .c_products__list__item {
    padding: 1.9230769231vw 1.9230769231vw 3.4615384615vw 1.9230769231vw;
    border-radius: 25px;
    border: 3px solid #F2F2F2;
  }
}
.c_products__list__item .c_txt20 {
  margin-bottom: 2.9333333333vw;
}
@media screen and (min-width: 768px) {
  .c_products__list__item .c_txt20 {
    margin-bottom: 0.8461538462vw;
  }
}
.c_products__list__item .c_txt14 {
  line-height: 1.5714285714;
  margin-bottom: 3.7333333333vw;
}
@media screen and (min-width: 768px) {
  .c_products__list__item .c_txt14 {
    margin-bottom: 1.2307692308vw;
  }
}
.c_products__list__item .c_btn {
  width: 37.3333333333vw;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .c_products__list__item .c_btn {
    width: 15.3846153846vw;
  }
}
@media screen and (min-width: 768px) {
  .c_products__list a.c_products__list__item:hover {
    box-shadow: 0 5px 16px rgba(51, 51, 51, 0.35);
  }
}
@media screen and (min-width: 768px) {
  .c_products__list a.c_products__list__item:hover .icon__main {
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .c_products__list a.c_products__list__item:hover .c_btn {
    opacity: 0.8;
  }
}
/*# sourceMappingURL=top.css.map */
