@use "sass:math";
@use "../global"as *;

/*!
component > cookiewrap
------------------------------
*/

#cookiewrap {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ccc;
    z-index: 999;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: none;
    @include mq(md) {
        padding: 40px;
    }

    .inner {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        .close {
            position: absolute;
            right: 0;
            bottom: 0;
            text-align: right;
            font-size: rem(14);
            line-height: 1em;
            @include mq(md) {
                top: 50%;
                bottom: auto;        
                transform: translateY(-50%);
            }

            a {
                display: block;
                padding: 8px;
                border: 1px solid #999;
            }
        }
        .txt {
            font-size: rem(14);
            line-height: 1.8;    
            padding-bottom: 45px;
            @include mq(md) {
                padding-bottom: 0;
                padding-right: 110px;
            }
        }
    }



}