@use "sass:math";
@use "../global"as *;

/*!
component > header
------------------------------
*/

.c-toggle{
    position: absolute;
    right: 25px;
    top: 19px;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    @include mq(md) {
        top: clamped(15, 27, 768, 1280);
        right: clamped(30, 50, 768, 1280);
        width: clamped(40, 56, 768, 1280);
        height: clamped( 40, 56, 768, 1280);
    }
    &::after{
        position: absolute;
        bottom: 5px;
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: var(--black);      
        transition: 0.5s;  
        @include mq(md) {
            bottom: 10px;
            height: clamped( 2, 4, 768, 1280);
        }
    }
    &::before{
        position: absolute;
        top: 5px;
        left:0;
        content: "";
        width: 100%;
        height: 2px;
        background: var(--black);      
        transition: 0.5s;  
        @include mq(md) {
            top: 10px;
            height: clamped( 2, 4, 768, 1280);
        }
    }
    &__txt{
        font-family: $font-family-en;
        font-size: rem(11);
        font-weight: 700;
        color: var(--black);
        line-height: 1;
        letter-spacing: 0.08em;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        @include mq(md) {
            font-size: clamped( 13, 18, 768, 1280);
            padding-top: clamped(40, 57, 768, 1280);
        }
    }
    &__line{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: 2px;
        background: var(--black);
        transform: translate(-50%,-50%);
        transition: 0.5s;
        @include mq(md) {
            height: clamped( 2, 4, 768, 1280);
        }
    }
    &.active{
        &::before{
            transform: translate( 0 , 12px) rotate(45deg);
            @include mq(md) {
                transform: translate( 0 , clamped(9, 16, 768, 1280)) rotate(45deg);
            }
        }
        &::after{
            transform: translate( 0 , -11px) rotate(-45deg);
            @include mq(md) {
                transform: translate( 0 , clamped( -16, -9, 1280, 768)) rotate(-45deg);
            }
        }
        .c-toggle__line{
            opacity: 0;
        }
    }
}
