@use "sass:math";
@use "../global"as *;

/*!
component > header
------------------------------
*/

.c_header{    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    &__inner{
        padding: vw(10) vw(70) vw(10) vw(12);
        @include mq(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: vw(32, 1300) vw(125, 1300) vw(30, 1300) vw(122, 1300);
        }
    }
    &__content{
        @include mq(md) {
            display: flex;
            align-items: center;            
        }
    }
    &__logo{
        width: vw(120);
        @include mq(md) {
            min-width: 110px;
            width: vw(132, 1300);
        }
        .logo{
            display: block;
            width: 100%;
        }
    }
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;        
    }
    &__btn{
        @include mq(md) {
            position: relative;
            top: -2px;
        }
    }
}

.c_toggle{
    position: absolute;
    top: vw(17);
    right: vw(20);
    display: block;
    width: vw(30);
    height: vw(30);
    cursor: pointer;
    @include mq(md) {
        display: none;
    }
    &::after{
        position: absolute;
        bottom: vw(3);
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: #333;      
        transition: 0.5s;  
    }
    &::before{
        position: absolute;
        top: vw(3);
        left:0;
        content: "";
        width: 100%;
        height: 2px;
        background: #333;      
        transition: 0.5s;  
    }
    &__line{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        transform: translate(-50%,-50%);
        transition: 0.5s;
    }
    &.active{
        &::before{
            transform: translate(0,vw(11)) rotate(45deg);
        }
        &::after{
            transform: translate(0,vw(-11)) rotate(-45deg);
        }
        .c_toggle__line{
            opacity: 0;
        }
    }
}

