@use "sass:math";
@use "../global"as *;

/*!
component > header
------------------------------
*/

.c_toggle{
    position: absolute;
    top: vw(17);
    right: vw(20);
    display: block;
    width: vw(30);
    height: vw(30);
    cursor: pointer;
    @include mq(md) {
        display: none;
    }
    &::after{
        position: absolute;
        bottom: vw(3);
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: #333;      
        transition: 0.5s;  
    }
    &::before{
        position: absolute;
        top: vw(3);
        left:0;
        content: "";
        width: 100%;
        height: 2px;
        background: #333;      
        transition: 0.5s;  
    }
    &__line{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        transform: translate(-50%,-50%);
        transition: 0.5s;
    }
    &.active{
        &::before{
            transform: translate(0,vw(11)) rotate(45deg);
        }
        &::after{
            transform: translate(0,vw(-11)) rotate(-45deg);
        }
        .c_toggle__line{
            opacity: 0;
        }
    }
}

