@use "../global" as *;

/*!
layout > container
------------------------------
*/

.l_container {
    width: unset;
    padding: 0 20px;

}

@media screen and (min-width: 768px) {
    %_container {
        box-sizing: border-box;
        margin: 0 auto;
        width: auto;
    }

    .l_container {
        max-width: $width-content;
        padding: 0 40px;
        margin: 0 auto;
        @extend %_container;
    }
}