@use "sass:math";
@use "./breakpoints" as *;
@use "./function" as *;

// font-size

%fz-10 {
    font-size: rem(10);
}

%fz-12 {
    font-size: rem(10);
    @include mq("md") {
        font-size: clamped(10, 12, 768, 1600);
    }
}

%fz-13 {
    font-size: rem(12);
    @include mq("md") {
        font-size: clamped(12, 13, 768, 1600);
    }
}

%fz-14 {
    font-size: rem(12);
    @include mq("md") {
        font-size: clamped(12, 14, 768, 1600);
    }
}

%fz-15 {
    font-size: rem(12);
    @include mq("md") {
        font-size: clamped(12, 15, 768, 1600);
    }
}

%fz-16 {
    font-size: rem(14);
    @include mq("md") {
        font-size: clamped(14, 16, 768, 1600);
    }
}

%fz-17 {
    font-size: rem(14);
    @include mq("md") {
        font-size: clamped(14, 17, 768, 1600);
    }
}

%fz-18 {
    font-size: rem(14);
    @include mq("md") {
        font-size: clamped(14, 18, 768, 1600);
    }
}

%fz-19 {
    font-size: rem(16);
    @include mq("md") {
        font-size: clamped(16, 19, 768, 1600);
    }
}

%fz-20 {
    font-size: rem(16);
    @include mq("md") {
        font-size: clamped(16, 20, 768, 1600);
    }
}

%fz-21 {
    font-size: rem(16);
    @include mq("md") {
        font-size: clamped(16, 21, 768, 1600);
    }
}

%fz-22 {
    font-size: rem(16);
    @include mq("md") {
        font-size: clamped(16, 22, 768, 1600);
    }
}

%fz-23 {
    font-size: rem(18);
    @include mq("md") {
        font-size: clamped(18, 23, 768, 1600);
    }
}

%fz-24 {
    font-size: rem(18);
    @include mq("md") {
        font-size: clamped(18, 24, 768, 1600);
    }
}

%fz-25 {
    font-size: rem(18);
    @include mq("md") {
        font-size: clamped(18, 25, 768, 1600);
    }
}

%fz-26 {
    font-size: rem(20);
    @include mq("md") {
        font-size: clamped(20, 26, 768, 1600);
    }
}

%fz-27 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 27, 768, 1600);
    }
}

%fz-28 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 28, 768, 1600);
    }
}

%fz-29 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 29, 768, 1600);
    }
}

%fz-30 {
    font-size: rem(22);
    @include mq("md") {
        font-size: clamped(22, 30, 768, 1600);
    }
}

%fz-31 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 31, 768, 1600);
    }
}

%fz-32 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 32, 768, 1024);
    }
}

%fz-33 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 33, 768, 1600);
    }
}

%fz-34 {
    font-size: rem(24);
    @include mq("md") {
        font-size: clamped(24, 34, 768, 1600);
    }
}

%fz-35 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 35, 768, 1600);
    }
}

%fz-36 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 36, 768, 1600);
    }
}

%fz-37 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 37, 768, 1600);
    }
}

%fz-38 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 38, 768, 1600);
    }
}

%fz-39 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 39, 768, 1600);
    }
}

%fz-40 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 40, 768, 1600);
    }
}

%fz-41 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 41, 768, 1600);
    }
}

%fz-42 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 42, 768, 1600);
    }
}

%fz-43 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 43, 768, 1600);
    }
}

%fz-44 {
    font-size: rem(26);
    @include mq("md") {
        font-size: clamped(26, 44, 768, 1600);
    }
}

%fz-45 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 45, 768, 1600);
    }
}

%fz-46 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 46, 768, 1600);
    }
}

%fz-47 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 47, 768, 1600);
    }
}

%fz-48 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 48, 768, 1600);
    }
}

%fz-49 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 49, 768, 1600);
    }
}

%fz-50 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 50, 768, 1600);
    }
}

%fz-51 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 51, 768, 1600);
    }
}

%fz-52 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 52, 768, 1600);
    }
}

%fz-53 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 53, 768, 1600);
    }
}

%fz-54 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 54, 768, 1600);
    }
}

%fz-55 {
    font-size: rem(28);
    @include mq("md") {
        font-size: clamped(28, 55, 768, 1600);
    }
}

%fz-56 {
    font-size: rem(30);
    @include mq("md") {
        font-size: clamped(30, 56, 768, 1600);
    }
}
