---
layout: _default
title: Title
description:
keyword:
css: ['slick','styles']
js: ['slick.min','common','top']
page: top
---
<script>
    if (!window.sessionStorage.getItem("storage_loadding")) {
        document.documentElement.classList.add("is_loadding");    
        window.sessionStorage.setItem("storage_loadding", new Date().getTime().toString());    
    }
</script>
<main class="p_top">   
    <div class="c_loading">
        <div class="c_loading__inner">
            <div class="c_loading__content">
                <div class="c_loading__item"></div>
                <div class="c_loading__item"></div>
            </div>
        </div>
    </div>     
    <div class="c_mv">
        
        <figure class="c_mv__img">
            <img src="./assets/images/top/img_mv.png" alt="">
        </figure>
        <div class="c_mv__inner">
            <ul class="c_mv__list">
                <li class="c_mv__list__item">
                    <a href="" class="c_btn01 c_btn01_yellow">もしものときに「かんたん」復旧</a>
                </li>
                <li class="c_mv__list__item">
                    <a href="" class="c_btn01 c_btn01_red">会社を丸っと「見える化」</a>
                </li>
                <li class="c_mv__list__item">
                    <a href="" class="c_btn01 c_btn01_blue">「悪意のない」情報漏洩対策</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="p_top01">
        <div class="p_top01__inner">
            <p class="c_btn02">セキュリティに関心が高い!</p>
            <h2 class="title">
                <img src="./assets/images/top/img_title01.svg" alt="">
            </h2>
            <figure class="img">
                <img src="./assets/images/top/img_01.png" alt="">
            </figure>
            <p class="c_txt23 u_fw500">イメージがあっても実際どの製品を選べばいいか判断が難しいもの</p>
        </div>
    </div>
    <div class="p_top02">
        <div class="p_top02__inner">
            <p class="c_txt23 u_fw500">そこで私たちがご用意したのは</p>
            <p class="c_btn02">簡単な質問に答えるだけで</p>
            <h2 class="title">
                <img src="./assets/images/top/img_title02.svg" alt="">
            </h2>
            <figure class="img">
                <img src="./assets/images/common/img_search.svg" alt="">
            </figure>
        </div>
    </div>
    <div class="p_top03">
        <figure class="p_top03__img">
            <img src="./assets/images/top/bg_01.png" alt="">
        </figure>
        <div class="p_top03__inner">
            <h2 class="title">
                <img src="./assets/images/top/img_title03.svg" alt="">
            </h2>
            <p class="c_txt18 u_fw500"><span class="u_cl_red u_fw700">次のステップ</span>の<span class="u_cl_red u_fw700">セキュリティ</span>を目指したい！<br>でも次は何したらいいの？</p>
            <p class="c_txt18 u_fw500">そんな<span class="u_cl_red u_fw700">あなたにピッタリ</span>のセキュリティ製品を診断します。</p>
            <div class="p_top03__btn">
                <a href="" class="c_btn">さっそく診断スタート</a>
            </div>
        </div>
    </div>
    <div class="c_products">
        <div class="c_products__inner">
            <h2 class="title">
                <picture class="title__img">
                    <img src="./assets/images/top/img_title04.svg" alt="">
                </picture>
                <span class="title__text">スタンドアロン製品ラインナップ</span>
                <picture class="title__people">
                    <img src="./assets/images/common/img_people_01.svg" alt="">
                </picture>
            </h2>
            <div class="c_products__list">
                <a href="" class="c_products__list__item">                    
                    <picture class="icon">
                        <img class="icon__main" src="./assets/images/common/icon_mylog.svg" alt="">
                        <img class="icon__hover" src="./assets/images/common/icon_mylog_hover.svg" alt="">
                    </picture>
                    <h3 class="c_txt20 u_fw700">ログ管理</h3>
                    <picture class="logo logo_01">
                        <img src="./assets/images/common/img_logo_02.webp" alt="">
                    </picture>
                    <p class="c_txt14 u_fw500">きめ細やかにログが取りたい<br>ログ取得／管理機能の充実</p>
                    <span class="c_btn">詳しく見る</span>
                </a>
                <a href="" class="c_products__list__item">                    
                    <picture class="icon">
                        <img class="icon__main" src="./assets/images/common/icon_rundx.svg" alt="">
                        <img class="icon__hover" src="./assets/images/common/icon_rundx_hover.svg" alt="">
                    </picture>
                    <h3 class="c_txt20 u_fw700">データ持ち出し制御</h3>
                    <picture class="logo logo_02">
                        <img src="./assets/images/common/img_logo_03.webp" alt="">
                    </picture>
                    <p class="c_txt14 u_fw500">会社や組織のPCでUSBメモリなど<br>様々な外部デバイスの使用を制限</p>
                    <span class="c_btn">詳しく見る</span>
                </a>
                <a href="" class="c_products__list__item">                    
                    <picture class="icon">
                        <img class="icon__main" src="./assets/images/common/icon_activelmage.svg" alt="">
                        <img class="icon__hover" src="./assets/images/common/icon_activelmage_hover.svg" alt="">
                    </picture>
                    <h3 class="c_txt20 u_fw700">リカバリ・復元</h3>
                    <picture class="logo logo_03">
                        <img src="./assets/images/common/img_logo_04.png" alt="">
                    </picture>
                    <p class="c_txt14 u_fw500">ディスク丸ごとのバックアップやリカバリが初めてでもかんたん操作・マニュアルいらず</p>
                    <span class="c_btn">詳しく見る</span>
                </a>
            </div>
        </div>
    </div>
</main>
