---
layout: _default
title: Title
description:
keyword:
css: ['slick','common','top']
js: ['slick.min','common','top']
---
<script>
    if (!window.sessionStorage.getItem("hrone_loadding")) {
        document.documentElement.classList.add("is_loadding");    
        window.sessionStorage.setItem("hrone_loadding", new Date().getTime().toString());    
    }
</script>
<main class="p_top">   
    <div class="c_loading">
        <div class="c_loading__inner">
            <div class="c_loading__content">
                <div class="c_loading__item"></div>
                <div class="c_loading__item"></div>
            </div>
        </div>
    </div>     
    
</main>
