---
layout: _default
title: sample
description:
keyword:
css: ['common','top']
js: ['common','top']
---
<main class="p-top">
  <div class='l_container'>
    <h2 class="c_txt c_txt_95 "><span class="u_txt_base01">未知</span>なる軌道。</h2>
    <h2 class="c_txt c_txt_95 u_f_b1"><span class="u_txt_blue">未知</span>なる軌道。</h2>
    <h2 class="c_txt c_txt_95 u_f_petch">abcdef</h2>

    <h2 class="c_ttl01">
      <span class="c_ttl01__en">WORK</span>
      <span class="c_ttl01__jp"><span class="u_txt_blue">仕事</span>を知る</span>
    </h2>

    <div class='' style="background-color: #ccc; padding: 20px;">
      <h2 class="c_ttl01 c_ttl01_bgwhite">
        <span class="c_ttl01__en"><span class="bg">PEOPLE</span></span>
        <span class="c_ttl01__jp"><span class="bg">人を知る</span></span>
      </h2>
    </div>
    

    <p class='c_label c_label_16'>＃できること</p>
    <p class='c_label c_label_orange c_label_16'>システムエンジニア</p>
    <p class='c_label c_label_blue'>ビジネスソリューション</p>


    <a href="" class="c_btn02"><span class="c_btn02__text">仕事を知る</span></a>
    <a href="" class="c_btn02 c_btn02_white"><span class="c_btn02__text">仕事を知る</span></a>

    <p class='c_txt'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_14'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_15'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_16'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_17'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_19'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_20'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_21'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_22'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_23'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_24'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_25'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_26'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_27'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_28'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_29'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_30'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_31'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_32'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_33'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_34'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <p class='c_txt c_txt_35'>技術志向よりもマインドを重視し、コミュニケーション力を大切にします。</p>

    <a href="" class="c_brlink">
      <figure class="img">
          <img src='./assets/images/top/img_top14.webp' alt='キッセイコムテックの生み出す価値'>
      </figure>
      <span class="c_brlink__txt">キッセイコムテックの生み出す価値</span>
  </a>
  <a href="" class="c_link">成長を支える制度</a>

  <a href="" target="_blank">成長を支える制度</a>


    <div class='c_banner'>
      <div class='l_container'>
        <div class='c_banner__inner'>
          <div class='c_banner__left'>
            <h3 class="c_ttl c_ttl_35">挑戦しよう。<br>未知なる軌道を。（仮）</h3>
          </div>
          <div class='c_banner__right'>
            <p class='c_txt c_txt_14 u_txt_center'>ENTRY / CONTACT</p>
            <p class='c_txt c_txt_20 u_txt_bold u_txt_center'>エントリー・お問い合わせ</p>
          </div>
        </div>
        <a href="" class="c_btn02 c_btn02_white"><span class="c_btn02__text">環境を知る</span></a>
      </div>
    </div>
  </div>

</main>