<footer class="c_footer">
    <div class="l_container">
        <div class="c_footer__inner">
            
            <p class="c_footer__copy">©2025 TACHIBANA KOGYO CO., LTD.</p>
        </div>
    </div>
    <a href="#wrapper" class="c_totop">PAGETOP</a>
</footer>