<footer class="c_footer">
    <div class='l_container'>
        <!-- <a href="<%= assetsDir %>" class="c_logo"><img src="<%= assetsDir %>assets/images/common/img_logo01.svg"
                        alt="KISSEI COMTEC" /></a> -->
    </div>
    <a href="#wrapper" class="c_totop">PAGETOP</a>
</footer>