<footer class="c_footer">
    <div class="l_container">
        <a href="" class="logo">
            <img src="<%= assetsDir %>assets/images/common/img_logo_01.png" alt="">
        </a>
        <p class="coppy">Copyrightc 2005 - 2024 RUNEXY CORP. All Rights Reserved.</p>
    </div>
    <a href="#wrapper" class="c_totop">PAGETOP</a>
</footer>