<footer class="c-footer">
    <div class="l_container">
        <div class="c-footer__inner">
            
            <p class="c-footer__copy">©2025 TACHIBANA KOGYO CO., LTD.</p>
        </div>
    </div>
    <a href="#wrapper" class="c-totop">PAGETOP</a>
</footer>