<header class="c_header">
    <div class="c_header__inner">
        <!-- <h1 class="c_header__logo">
            <a href="<%= assetsDir %>" class="c_logo"><img src="<%= assetsDir %>assets/images/common/img_logo01.svg"
                    alt="KISSEI COMTEC" /></a>
        </h1> -->
        <!--menu-->
        
    </div>
    <div class="c_toggle"><span class="c_toggle__line"></span></div>
</header>
<!--▲ Content are ▲-->