<header class="c_header">
    <div class="c_header__inner">     
        <% if(file.data.page === 'top'){%><h1 class="logo"><% }else{ %><div class="logo"><% } %> 
            sdfsdfsdfs
        <% if(file.data.page === 'top'){%></h1><% }else{ %></div><% } %>
    </div>
    <div class="c_toggle"><span class="c_toggle__line"></span></div>
</header>
<!--▲ Content area ▲-->