@use "sass:math";
@use "../../global" as *;

.p_top{
    position: relative;
    &01{
        background-color: var(--blue1);
        padding-top: 5px;
        padding-bottom: 0;
        position: relative;
        z-index: 0;
        margin-top: vw(70,390);
        @include mq(md) {
            margin-top: 0;
            padding-top: 74px;
            padding-bottom: 80px;
        }
        &__ttl{
            font-size: rem(27);
            font-weight: 900;
            letter-spacing: 0;
            line-height: calc( 39 / 27 );
            text-align: center;
            font-family: $font-family-zen;
            margin-bottom: 21px;
            position: relative;
            left: -13px;
            width: calc(100% + 40px);
            @include mq(md) {
                width: 100%;
                left: 0;
                font-size: clamped(32, 62, 768, 1280);
                padding-left: 30px;
                margin-bottom: 23px;
            }
            &__big{
                font-size: rem(36);
                line-height: calc( 52 / 36 );
                @include mq(md) {
                    font-size: clamped(41, 81, 768, 1280);
                }
            }
            &__item{
                margin: 0 -6px;
                @include mq(md) {
                    margin: 0 -19px;
                }
            }
        }
        .c_txt20{
            margin: 0 auto;
            letter-spacing: 0.01em;
            @include mq(md) {
                max-width: 840px;
                padding-left: 15px;
            }
        }
        &__btn{
            text-align: center;
            padding: 35px 0 50px;
            @include mq(md) {
                padding: 34px 0 100px;
            }
        }
        .c_list{
            position: relative;
            z-index: 1;
            // &::after{
            //     content: "";
            //     width: calc(100% + 40px);
            //     left: -20px;
            //     height: 100%;
            //     background-color: var(--blue3);
            //     position: absolute;
            //     z-index: -1;
            // }
        }
        &__content{
            position: relative;
            z-index: 1;
            padding-top: 42px;
            @include mq(md) {
                padding-top: 0;
            }
        }
        &__bg{
            position: absolute;
            bottom: -56px;
            left: 0;
            width: 100%;
            z-index: -1;
            height: auto;
            @include mq(md) {
                bottom: -109px;
                height: clamped( 480, 628.25, 768, 1280);
            }
            img{
                height: 100%;
            }
        }
        &__bg01{
            position: absolute;
            top: -18px;
            left: 0;
            width: 100%;
            z-index: -1;
            @include mq(md) {
                display: none;
            }
            img{
                height: 100%;
            }
        }
    }
    &02{
        background-color: var(--yellow2);
        padding: 89px 0 82px;
        @include mq(md) {
            padding: clamped(116, 170, 1280, 768) 0 220px;
        }
        .c_title{
            margin-bottom: 24px;
            @include mq(md) {
                margin-bottom: 54px;
            }
        }
        &__list{
            margin-bottom: 38px;
            @include mq(md) {
                display: flex;
                padding-right: 41px;
                max-width: calc(50% + 620px);
                margin-bottom: 60px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            .c_ttl24{
                font-size: rem(16);
                margin-bottom: 16px;
                @include mq("md") {
                    font-size: clamped(20, 24, 768, 1600);
                    margin-bottom: 37px;
                }
            }
            .c_txt20{
                color: var(--black);
                letter-spacing: 0.01em;
                font-weight: 400;
            }
            &__img{
                margin-bottom: 28px;
                @include mq(md) {
                    margin-bottom: 0;
                    width: clamped(380, 740, 768, 1280);
                    flex-shrink: 0;
                }
                img{
                    @include mq(md) {
                        border-radius: 0 8px 8px 0;
                    }
                }
            }
            &__content{
                padding-left: 20px;
                padding-right: 20px;
                @include mq(md) {
                    width: calc(100% - clamped(380, 740, 768, 1280));
                    padding-left: clamped(40, 80, 768, 1280);
                    padding-right: 0;
                    padding-top: clamped(40, 121, 768, 1280);
                }
            }
            &_reverse{
                margin: 0 0 0 auto;
                flex-direction: row-reverse;
                @include mq(md) {
                    padding-left: 40px;
                    padding-right: 0;
                }
                .p_top02__list__content{
                    @include mq(md) {
                        padding-left: 0;
                        padding-right: clamped(40, 82, 768, 1280);
                    }
                }
                .p_top02__list__img{
                    img{
                        @include mq(md) {
                            border-radius: 8px 0 0 8px;
                        }
                    }
                }
            }
        }
        &__btn{
            text-align: center;
            padding: 30px 0 0 0;
            @include mq(md) {
                padding: 0;
                margin-top: -20px;
            }
        }
    }
    &03{
        margin-top: -50px;
        position: relative;
        z-index: 1;
        padding: 57px 0;
        
        @include mq(md) {
            margin-top: -140px;
            padding: clamped(115, 170, 1280, 768) 0 clamped( 66, 90, 1280, 768);
        }
        &::after{
            content: "";
            background-color: var(--blue1);
            width: 100%;
            height: calc(100% - 54px);
            bottom: 0;
            left: 0;
            z-index: -1;
            position: absolute;
            @include mq(md) {
                height: calc(100% - 200px);
            }
        }
        &__bg{
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            @include mq(md) {
                height: clamped( 800, 1215.7, 768, 1280);
            }
            img{
                height: 100%;
            }
        }
        .c_title{
            margin-bottom: 24px;
            @include mq(md) {
                margin-bottom: 50px;
            }
        }
        &__btn{
            text-align: center;
            padding: 39px 0 0 0;
            @include mq(md) {
                padding: 76px 0 0 0;
            }
        }
        &__slider{
            position: relative;
        }
    }
    &04{
        position: relative;
        z-index: 1;
        background-color: var(--blue1);
        padding: 32px 0 59px 0;
        @include mq(md) {
            padding: 92px 0 120px 0;
        }
        .c_title{
            z-index: 1;
            margin-bottom: 24px;
            @include mq(md) {
                margin-bottom: 50px;
            }
            &__icon {
                @include mq(md) {
                    max-width: 305px;
                }
                img {
                    @include mq(md) {
                        left: 10px;
                    }
                }
            }
        }
        .c_list{
            position: relative;
            z-index: 1;
        }
        &__bg{
            position: absolute;
            left: 0;
            top: -25px;
            width: 100%;
            z-index: 0;
            pointer-events: none;
            @include mq(md) {
                height: 604px;
                max-height: 100%;
                top: -25px;
            }
            img{
                height: 100%;
            }
        }
        &::after{
            content: "";
            width: 100%;
            height: calc(100% - 100px);
            bottom: 0;
            left: 0;
            background-color: var(--blue3);
            z-index: -1;
            pointer-events: none;
            position: absolute;
        }
        
    }
}
